@charset "UTF-8";

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
textarea {
  outline: 0;
}

input:active,
textarea:active {
  outline: 0;
}

:focus {
  outline: 0;
}

ul {
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0em;
  margin-block-end: 0em;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol[class],
p,
ul[class] {
  margin: 0;
}

/*============================*/

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f1f2;
}

.wrapper {
  max-width: 1171px;
  margin: 0 auto;
  overflow-x: hidden;
  text-align: center;
}

h1 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  padding-left: 9px;
  font-family: 'GothamPro-Bold';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

.bet_list {
  width: 100%;
  margin-top: 25px !important;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bet_list_item {
  position: relative;
  height: 71px;
  width: 100%;
  max-width: 1169px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 16px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.bet_logo_link {
  position: relative;
  width: 107px;
  margin: 3px 0 0  98px;
  text-align: left;
}

.bet_logo_ico {
  max-width: 100%;
  height: auto;
}

.bet_item_title {
  width: 86px;
  margin: 3px 23px 0 23px;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: #33312C;
}

.stars_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0 95px 0 0;
}

.stars_list[data-total-value="1"] .stars_item:nth-child(n+4),
.stars_list[data-total-value="2"] .stars_item:nth-child(n+3),
.stars_list[data-total-value="3"] .stars_item:nth-child(n+2),
.stars_list[data-total-value="4"] .stars_item:nth-child(n+1) {
  color: #f0bb65;
}

.stars_item {
  margin-left: 7px;
  color: #C1C0CD;
  cursor: pointer;
  font-size: 26px;
  line-height: 21px;
}

.stars_item:hover,
.stars_item:hover ~ .stars_item {
  color: #a4a4b8;
}

.gift_sum {
  position: relative;
  margin-right: 14.1%;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #33312C;
}

.gift_sum:before {
  content: "";
  position: absolute;
  left: -33px;
  top: 0%;
  height: 19px;
  width: 19px;
  background-image: url(../img/gift.png);
}

.link_btn {
  height: 35px;
  margin-right: 28px;
  padding: 9px 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.recall_btn {
  width: 130px;
  color: #191925;
  border: 1px solid #67BC6D;
  border-radius: 5px;
}

.review_btn {
  width: 78px;
  border: 1px solid #DADADA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: #191925;
}

.outsite_btn {
  width: 107px;
  margin: 5px 0 0 0;
  color: #fff;
  background: #E2455A;
  border-radius: 5px;
}

.btn_box {
  width: 165px;
  margin: 9px auto 0 auto;
  border-radius: 5px;
  border: 1px solid #DADADA;
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
      transform: skew(-15deg);
}

.second_btn_box {
  width: 165px;
  margin: 15px auto 0 auto;
  border-radius: 5px;
  border: 1px solid #DADADA;
  -webkit-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
      transform: skew(-15deg);
}

.add_more_btn {
  padding: 0px 13px 0px 13px;
  font-family: 'GothamPro-Bold';
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 38px;
  border: 0;
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
      transform: skew(15deg);
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.subtitle {
  margin-top: 86px;
  width: 50%;
  padding-left: 8px;
  font-family: 'GothamPro-Bold';
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}

.news_box {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news_item {
  width: 49%;
  text-align: left;
  background-color: #fff;
}

.news_item:nth-child(2n+1) {
  margin: 3px 6px 8px 0px;
  max-width: 380px;
}

.news_item:nth-child(2n) {
  margin: 3px 0px 8px 9px;
  max-width: 384px;
}

.news_item:nth-child(2n) > .news_title {
  margin: 1px 24px 16px 25px;
}

.news_item:nth-child(2n) > .news_category {
  margin: 18px auto 0px 25px;
}

.news_item:nth-child(2n) > .person_inf {
  margin: 0px 0px 0px 29px;
}

.news_item:nth-child(2n) > .person_inf > .factor {
  margin: -15px 10px 0 0;
}

.news_item:nth-child(2n) > .play_teams > .team_name:first-child {
  margin: 0 0 22px 61px;
}

.news_item:nth-child(2n) > .play_teams > .team_name:last-child {
  margin: 0 53px 22px 0px;
}

.news_item:nth-child(2n) > .play_teams > .time {
  margin: 8px 6px 0 11px;
}

.news_category {
  margin: 18px auto 0px 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 24px;
  color: #5A3EC4;
}

.news_title {
  margin: 1px 24px 16px 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.person_inf {
  margin: 0px 0px 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.person {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.person_photo {
  margin: 2px 10px 0px -3px;
  height: 38px;
  width: 38px;
}

.person_name {
  line-height: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #C1C0CD;
}

.factor:after {
  position: absolute;
  left: 50%;
  bottom: -16px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  content: "КОЭФФИЦИЕНТ";
  font-weight: 600;
  font-size: 11px;
  line-height: 24px;
  text-align: center;
  color: #C1C0CD;
}

.factor {
  position: relative;
  margin: -13px 17px 0 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #403E51;
}

.play_teams {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team_name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #403E51;
}

.team_name:first-child {
  position: relative;
  margin: 0 0 22px 58px;
}

.team_name:first-child:before {
  position: absolute;
  left: -44px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 35px;
  width: 35px;
  content: "";
  background-image: url(../img/image21.png);
}

.team_name:last-child {
  position: relative;
  margin-right: 17px;
  margin: 0 59px 22px 0px;
}

.team_name:last-child:before {
  position: absolute;
  right: -44px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 35px;
  width: 35px;
  content: "";
  background-image: url(../img/image22team_logo.png);
}

.time {
  position: relative;
  margin: 8px 0 0 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #403E51;
}

.time:before {
  position: absolute;
  top: -17px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  content: "12 июня";
  white-space: nowrap;
  font-weight: 600;
  font-size: 11px;
  line-height: 24px;
  text-align: center;
  color: #C1C0CD;
}

.promo_link {
  margin: 34px 0 0 19px;
}

.promo_img {
  max-width: 100%;
  max-width: 378px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.accordion_box {
  width: 50%;
  margin-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.cat_link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 13px;
  font-family: 'GothamPro-Bold';
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #7A798A;
}

.cat_link:first-child {
  margin-left: auto;
}

.cat_link:last-child {
  margin-right: 0;
}

.accordeon_input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.accordion_triger {
  position: relative;
  margin: 2px 0 0 1px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.accordeon_item_content {
  display: none;
}

.accordeon_input:checked ~ .accordion_triger {
  color: #5A3EC4;
}

.accordeon_input:checked {
  color: #5A3EC4;
}

.accordeon_input:checked ~ .accordeon_item_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 1169px) {
  .bet_list_item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .stars_list {
    margin: 0 30px 0 0;
  }

  .gift_sum {
    margin-right: 5%;
  }

  .bet_logo_link {
    margin: 3px 0 0 20px;
  }

  .accordion_box {
    padding-right: 10px;
  }

  .person_name {
    white-space: nowrap;
  }

  .promo_link {
    margin: 34px 0px 0 10px;
    max-width: 31%;
  }

  .promo_img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .news_item:nth-child(2n+1) {
    margin: 3px 6px 8px 0px;
    max-width: 48%;
  }

  .news_item:nth-child(2n) {
    margin: 3px 0px 8px 9px;
    max-width: 48%;
  }

  .team_name:last-child {
    position: relative;
    margin-right: 17px;
    margin: 0 40px 22px 0px;
  }

  .team_name:first-child {
    position: relative;
    margin: 0 0 22px 40px;
  }
}

@media (max-width: 900px) {
  .bet_list_item {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 1px solid #000;
  }

  .recall_btn {
    width: 100px;
  }

  .link_btn {
    margin-right: 0;
    font-size: 12px;
  }

  .bet_item_title {
    width: 125px;
    font-size: 23px;
    margin: 0px 5px 0 5px;
  }

  .gift_sum {
    margin-right: 0;
  }

  .stars_item {
    margin-left: 1px;
  }

  .stars_list {
    margin: 0 30px 0 0;
  }

  .team_name:first-child:before {
    display: none;
  }

  .team_name:last-child:before {
    display: none;
  }

  .team_name:first-child {
    position: relative;
    margin: 0 0 22px 24px;
  }

  .team_name:last-child {
    position: relative;
    margin: 0 24px 22px 0;
  }

  .news_item:nth-child(2n) > .play_teams > .team_name:first-child {
    margin: 0 0 22px 5px;
  }

  .news_item:nth-child(2n) > .play_teams > .team_name:last-child {
    margin: 0 5px 22px 0px;
  }

  .factor:after {
    display: none;
  }

  .news_title {
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
    margin: 1px 5px 16px 5px;
  }

  .news_item:nth-child(2n) > .news_title {
    margin: 1px 5px 16px 5px;
  }

  .person_inf {
    margin: 5px;
  }

  .news_item:nth-child(2n) > .person_inf {
    margin: 0px 0px 0px 5px;
  }
}

@media (max-width: 750px) {
  .bet_list_item {
    width: 100%;
    height: 160px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .bet_item_title {
    margin: 0px 2% 0 1px;
  }

  .stars_list {
    width: 95px;
    margin: 0px 3% 0 3%;
  }

  .bet_logo_link {
    margin: 0px 1% 0 1%;
  }

  .bet_logo_ico {
    width: 113px;
    height: 48px;
  }

  .stars_item {
    font-size: 35px;
  }

  .gift_sum {
    margin: 0px 5% 0 7%;
  }

  .review_btn {
    margin: 0px 25% 0 0;
  }

  .recall_btn {
    margin: 0px 15% 0 0;
  }

  .outside_btn {
    margin: 0px 15% 0 0;
  }

  .link_btn:last-child {
    margin: 0;
  }

  .news_item:nth-child(2n) > .person_inf > .factor {
    margin: -15px 5px 0 0;
  }

  .factor {
    margin: -13px 5px 0 0;
    font-size: 12px;
  }

  .team_name {
    font-size: 12px;
  }

  .play_teams {
    margin-top: 15px;
  }

  .team_name:first-child {
    position: relative;
    margin: 0 0 10px 5px;
  }

  .time {
    font-size: 12px;
  }

  .person_name {
    font-size: 10px;
  }

  .news_title {
    font-size: 12px;
    line-height: 15px;
  }

  .news_category {
    margin: 5px auto 0px 5px;
    font-size: 8px;
    line-height: 24px;
  }

  .news_item:nth-child(2n) > .news_category {
    margin: 5px auto 0px 5px;
  }

  .news_box {
    width: 67%;
  }

  .add_more_btn {
    padding: 0px 0px 0px 0px;
    font-size: 10px;
  }

  .subtitle,
  .accordion_box {
    margin-top: 30px;
  }

  .subtitle {
    font-size: 14px;
  }

  .accordion_triger {
    font-size: 12px;
  }

  .news_box {
    margin-top: 0;
  }
}

@media (max-width: 570px) {
  .promo_link {
    margin: 34px 0px 0 5px;
    max-width: 30%;
  }

  .news_item:nth-child(2n+1) {
    max-width: 45%;
  }

  .news_item:nth-child(2n) {
    max-width: 45%;
  }
}

@media (max-width: 500px) {
  .bet_logo_ico {
    width: 73px;
    height: 28px;
  }

  .bet_logo_link {
    width: 80px;
    margin: 0;
  }

  .bet_item_title {
    width: 117px;
    margin: 0px 4% 0 1px;
  }

  .gift_sum {
    margin: 0px 0 0 6%;
  }

  .recall_btn {
    margin: 0px 5% 0 0;
  }

  .review_btn {
    margin: 0px 9% 0 0;
  }

  .gift_sum:before {
    left: -23px;
  }

  .stars_list {
    margin: 0px 0 0 3%;
  }

  .promo_link {
    max-width: 100%;
    margin: 0 auto;
  }

  .news_box {
    width: 100%;
  }

  .subtitle,
  .accordion_box {
    width: 100%;
    margin: 20px 0 10px 0;
    padding: 0;
    text-align: center;
  }

  .accordion_box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .cat_link:first-child {
    margin-left: 5px;
  }
}

@media (max-width: 405px) {
  .bet_item_title {
    margin: 0px 4% 0  12%;
  }

  .gift_sum {
    margin: 0px 1.5% 0 2.5%;
  }

  .recall_btn {
    margin: 0px 0 0 10%;
  }

  .review_btn {
    margin: 0px 0 0 7.5%;
  }

  .outsite_btn {
    margin: 0 0 0 1% !important;
  }
}

@media (max-width: 375px) {
  .bet_item_title {
    margin: 0px 1% 0 1%;
  }

  .stars_item {
    font-size: 25px;
  }
}

.webp .gift_sum:before{ background-image: url(./img/gift.webp); }

.webp .team_name:first-child:before{ background-image: url(./img/image21.webp); }

.webp .team_name:last-child:before{ background-image: url(./img/image22team_logo.webp); }
